/*.footer{
  background-color: 011d2a;
  bottom: 10px;
  text-align: center;
  color: white;
}

.card-body{
  background-color: #d3d8d6;
}

.hh1{
  color: white;
} // */

body{
  background: url(img1.png) 
  
}

.footer {
  background-color: rgba(14, 114, 201, 0.651);
  display: grid;
  grid-template-columns: repeat(3,1fr);
  place-items: center0;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.footer__copyright {
  text-decoration: underline;
}